<footer class="text-light bg-dark footer-dark">

    <div class="container-xl">

        <div class="row">
            <div class="col-md-12 col-4 mb-lg-3 special text-center text-lg-start">
                <div class="row mb-3">
                    <img src="" alt="CESAE Dos Mouros">
                </div>
                <div class="row mb-3">
                    <span>Somos, há 40 anos, o parceiro das empresas para a formação e qualificação.</span>
                </div>
                <div class="row">
                    <span>Telefone <a href="tel:+351226195200" class="d-inline">210 000 000</a></span>
                    <span>Email <a href="mailto:geral@cesae.pt">geral@cesae.pt</a></span>
                </div>
            </div>

            <div class="col-sm-6 col-md mb-3 d-none d-lg-block">
                <div class="col-sm-4 col-md mb-3 pt-5 pt-lg-0 text-center text-sm-start d-none d-sm-block">
                    <h5>CESAE Digital</h5>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mb-3"><a href="pages/cursos.html" class="nav-link p-0">Cursos</a></li>
                        <li class="nav-item mb-3"><a href="pages/parceiros.html" class="nav-link p-0">Parceiros</a></li>
                        <li class="nav-item mb-3"><a href="pages/contactos.html" class="nav-link p-0">Contactos</a></li>
                    </ul>
                </div>
            </div>
            <div class="border-bottom w-100 mb-3"></div>
            <div class="copyright text-center pb-3">
                Copyright©2026 CESAE. Todos os direitos reservados
            </div>
            <div class="d-block d-md-none my-3" style="height: 50px;"></div>
        </div>

</footer>