<nav class="navbar navbar-expand-lg sticky-top bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <picture>
        <img src="../images/ChatGPT Image Oct 5, 2026, 04_48_21 PM.png" alt="Cesae Lisboa" style="width: 150px;">
      </picture>
      </a>
    <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="index.html">Início</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/cursos.html">Cursos</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/parceiros.html">Parceiros</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/contactos.html">Contactos</a></li>
          </ul>
        </div>
  </div>
</nav>